# Q.1 Write a python program to display all the header tags from wikipedia.org.

In [1]:
#importing Libraries for 
import requests
from bs4 import BeautifulSoup

# Sending Request to website
url=requests.get('https://en.wikipedia.org/wiki/Main_Page')

# Downloading Page Source Code
soup= BeautifulSoup(url.content)

# to capture main heading
heading_1=soup.find('h1',class_="firstHeading mw-first-heading").text
print (heading_1)


# To scrap all headings from the page
#creating Empty list
news_feeds=[]
#appending the headings inti news_feeds 
for i in soup.find_all('span',class_="mw-headline"):
    news_feeds.append(i.text)

#printing the news_feed
print(news_feeds)

Main Page
['Welcome to Wikipedia', "From today's featured article", 'Did you know\xa0...', 'In the news', 'On this day', "Today's featured picture", 'Other areas of Wikipedia', "Wikipedia's sister projects", 'Wikipedia languages']

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [2]:
# Importing required libraries
import pandas as pd

# Sending Request to website
url=requests.get('https://www.imdb.com/chart/top/')

#Downloding source code
soup=BeautifulSoup(url.content)


#scraping all 100 movie names

title=soup.find_all('td',class_="titleColumn")

title

movie_name=[]
for i in title:
    i=i.get_text().replace('\n'," ").strip(" ")
    movie_name.append(i)
    
movie_name

#Scraping its rating

ratings=soup.find_all('td',class_="ratingColumn imdbRating")

ratings

movie_rating=[]
for i in ratings:
    movie_rating.append(i.get_text().replace('\n'," "))
    
movie_rating

# Making DataFrame
df=pd.DataFrame({'Movie Name with year ':movie_name,'Ratings':movie_rating})

dataset=df.drop(df.index[100:], axis=0)

dataset

                                Movie Name with year  Ratings
0            1.       The Shawshank Redemption (1994)    9.2
1                       2.       The Godfather (1972)    9.2
2                     3.       The Dark Knight (2008)    9.0
3               4.       The Godfather Part II (1974)    9.0
4                        5.       12 Angry Men (1957)    9.0
..                                                ...     ...
95                      96.       Citizen Kane (1941)    8.3
96  97.       M - Eine Stadt sucht einen Mörder (1...    8.3
97                98.       Lawrence of Arabia (1962)    8.3
98                99.       North by Northwest (1959)    8.2
99                          100.       Vertigo (1958)    8.2

[100 rows x 2 columns]

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [3]:
# Importing required libraries
import pandas as pd

# Sending Request to website
url=requests.get('https://www.imdb.com/india/top-rated-indian-movies/')

#Downloding source code
soup=BeautifulSoup(url.content)


#scraping all 100 movie names

title=soup.find_all('td',class_="titleColumn")

title

movie_name=[]
for i in title:
    i=i.get_text().replace('\n'," ").strip(" ")
    movie_name.append(i)
    
movie_name

#Scraping its rating

ratings=soup.find_all('td',class_="ratingColumn imdbRating")

ratings

movie_rating=[]
for i in ratings:
    movie_rating.append(i.get_text().replace('\n'," "))
    
movie_rating

# Making DataFrame
df=pd.DataFrame({'Movie Name with year ':movie_name,'Ratings':movie_rating})

dataset=df.drop(df.index[100:], axis=0)

dataset

                                Movie Name with year  Ratings
0   1.       Ramayana: The Legend of Prince Rama (...    8.5
1          2.       Rocketry: The Nambi Effect (2022)    8.4
2                             3.       Golmaal (1979)    8.4
3                         4.       777 Charlie (2022)    8.4
4                             5.       Nayakan (1987)    8.4
..                                                ...     ...
95                    96.       Kaakkaa Muttai (2014)    8.0
96                       97.       Ustad Hotel (2012)    8.0
97          98.       Theeran Adhigaaram Ondru (2017)    8.0
98                            99.       Angoor (1982)    8.0
99                  100.       Rang De Basanti (2006)    8.0

[100 rows x 2 columns]

# 4) Write a python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [4]:
# Sending Request to website
url=requests.get('https://presidentofindia.nic.in/former-presidents.htm')

#Downloding source code
soup=BeautifulSoup(url.content)

#scraping names of Presidents and term of office

President_name=soup.find_all('div',class_="presidentListing")

# making a list name and tenure
Presidents=[]

for i in President_name:
    Presidents.append(i.get_text().replace('\n'," ").strip(" "))
Presidents

['Shri Ram Nath Kovind (birth - 1945) Term of Office: 25 July, 2017 to 25 July, 2022  https://ramnathkovind.nic.in',
 'Shri Pranab Mukherjee (1935-2020) Term of Office: 25 July, 2012 to 25 July, 2017  http://pranabmukherjee.nic.in',
 'Smt Pratibha Devisingh Patil (birth - 1934) Term of Office: 25 July, 2007 to 25 July, 2012  http://pratibhapatil.nic.in',
 'DR. A.P.J. Abdul Kalam (1931-2015) Term of Office: 25 July, 2002 to 25 July, 2007  http://abdulkalam.nic.in',
 'Shri K. R. Narayanan (1920 - 2005) Term of Office: 25 July, 1997 to 25 July, 2002',
 'Dr Shankar Dayal Sharma (1918-1999) Term of Office: 25 July, 1992 to 25 July, 1997',
 'Shri R Venkataraman (1910-2009) Term of Office: 25 July, 1987 to 25 July, 1992',
 'Giani Zail Singh (1916-1994) Term of Office: 25 July, 1982 to 25 July, 1987',
 'Shri Neelam Sanjiva Reddy (1913-1996) Term of Office: 25 July, 1977 to 25 July, 1982',
 'Dr. Fakhruddin Ali Ahmed (1905-1977) Term of Office: 24 August, 1974 to 11 February, 1977',
 'Shri Varahagiri Venkata Giri (1894-1980) Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 'Dr. Zakir Husain (1897-1969) Term of Office: 13 May, 1967 to 3 May, 1969',
 'Dr. Sarvepalli Radhakrishnan (1888-1975) Term of Office: 13 May, 1962 to 13 May, 1967',
 'Dr. Rajendra Prasad (1884-1963)  Term of Office: 26 January, 1950 to 13 May, 1962']

# Q. 5 Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.

Q.5) a)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [5]:
# Sending Request to website
url=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

#Downloding source code
soup=BeautifulSoup(url.content)

#Scraping position

first_pos=soup.find_all('td', class_="rankings-block__banner--pos")
next_pos=soup.find_all('td',class_='table-body__cell table-body__cell--position u-text-right')

next_pos

Position=[]

for i in first_pos:
    Position.append(i.text)
for i in next_pos:
    Position.append(i.text)
    
Position


#scraping top 10  ODI teams 

first_place=soup.find_all('span', class_="u-hide-phablet")
teams=[]
for i in first_place:
    teams.append(i.text)
    
teams

#scraping matches

first=soup.find_all('td', class_="rankings-block__banner--matches")
next_match=soup.find_all('td',class_='table-body__cell u-center-text')

j=next_match[0::2]

matches=[]

for i in first:
    matches.append(i.text)
for i in j:
    matches.append(i.text)
    
matches

#scraping points

first_p=soup.find_all('td', class_="rankings-block__banner--points")
next_p=soup.find_all('td',class_='table-body__cell u-center-text')

points=next_p[1::2]

Point=[]

for i in first_p:
    Point.append(i.text)
for i in points:
    Point.append(i.text)
    
Point

#scraping rating

first_r=soup.find_all('td', class_="rankings-block__banner--rating u-text-right")
next_r=soup.find_all('td',class_='table-body__cell u-text-right rating')

next_r

Rating=[]

for i in first_r:
    Rating.append(i.text.replace('\n', " ").strip())
for i in next_r:
    Rating.append(i.text)
    
Rating

# Making DataFrame

ODI_Data_mens=pd.DataFrame({'Position':Position,'Top_10_ODI TEAMS':teams,'Matches_top10':matches,'Points':Point, 'Ratings':Rating})

ODI_Data_mens=ODI_Data_mens.drop(ODI_Data_mens.index[10:], axis=0)

ODI_Data_mens

  Position Top_10_ODI TEAMS Matches_top10 Points Ratings
0        1      New Zealand            23  2,670     116
1        2          England            30  3,400     113
2        3        Australia            32  3,572     112
3        4            India            35  3,866     110
4        5         Pakistan            22  2,354     107
5        6     South Africa            24  2,392     100
6        7       Bangladesh            30  2,753      92
7        8        Sri Lanka            30  2,677      89
8        9      Afghanistan            19  1,380      73
9       10      West Indies            41  2,902      71

 Q.5 b) Top 10 ODI Batsmen along with the records of their team and rating.

In [6]:
# Sending Request to website
url=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

#Downloding source code
soup=BeautifulSoup(url.content)

#Scraping position of player

first_pos=soup.find('span', class_="rankings-block__pos-number")
next_pos=soup.find_all('span',class_='rankings-table__pos-number')

next_pos

Position=[]

for i in first_pos:
    Position.append(i.text.replace('\n',' ').strip())
for i in next_pos:
    Position.append(i.text.replace('\n',' ').strip())
    
Position=Position[0:10]

Position


#scraping name of batsmen

first_name=soup.find_all('div', class_="rankings-block__banner--name")[0]
next_name=soup.find_all('td',class_='table-body__cell name')

next_name

names=[]

for i in first_name:
    names.append(i.text)
for i in next_name:
    names.append(i.text.strip())
    
names=names[0:10]
names

#scraping name of Country

first_country=soup.find_all('div', class_="rankings-block__banner--nationality")
next_country=soup.find_all('td',class_='table-body__cell nationality-logo')

first_country

Country_name=[]

for i in first_country:
    Country_name.append(i.text.strip().replace('\n','').split()[0])
    
Country_name=Country_name[0]
Country_name

Name_of_country=[]
Name_of_country.append(Country_name)
Name_of_country

for i in next_country:
    Name_of_country.append(i.text.replace('\n',''))

Name_of_country=Name_of_country[0:10]
Name_of_country

#scraping Rating

first_rating=soup.find('div', class_="rankings-block__banner--rating")
next_rating=soup.find_all('td',class_='table-body__cell u-text-right rating')

Ratings=[]

for i in first_rating:
    Ratings.append(i.text)
for i in next_rating:
    Ratings.append(i.text)
    
Ratings=Ratings[0:10]

Ratings

Top_10_Batsmen=pd.DataFrame({'Position':Position,'Name of Player':names,'Country':Name_of_country, 'Ratings':Ratings})


Top_10_Batsmen

  Position         Name of Player Country Ratings
0        1             Babar Azam     PAK     890
1        2            Imam-ul-Haq     PAK     779
2        3  Rassie van der Dussen      SA     766
3        4        Quinton de Kock      SA     759
4        5           David Warner     AUS     747
5        6            Steve Smith     AUS     719
6        7         Jonny Bairstow     ENG     710
7        8            Virat Kohli     IND     707
8        9           Rohit Sharma     IND     704
9       10        Kane Williamson      NZ     701

Q.5 c) Top 10 ODI bowlers along with the records of their team and rating.

In [7]:
# Sending Request to website
url=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

#Downloding source code
soup=BeautifulSoup(url.content)

#Scraping position of player

first_pos=soup.find('span', class_="rankings-block__pos-number")
next_pos=soup.find_all('span',class_='rankings-table__pos-number')

next_pos

Position=[]

for i in first_pos:
    Position.append(i.text.replace('\n',' ').strip())
for i in next_pos:
    Position.append(i.text.replace('\n',' ').strip())
    
Position=Position[0:10]

Position


#scraping name of batsmen

first_name=soup.find_all('div', class_="rankings-block__banner--name")[1]
next_name=soup.find_all('td',class_='table-body__cell name')

next_name

names=[]

for i in first_name:
    names.append(i.text)
for i in next_name:
    names.append(i.text.strip())
    
names
Bowler=[]
Bowler.append(names[0])

for i in names[10:19]:
    Bowler.append(i)
    
Bowler

#scraping name of Country

first_country=soup.find_all('div', class_="rankings-block__banner--nationality")
next_country=soup.find_all('td',class_='table-body__cell nationality-logo')

first_country

Country_name=[]

for i in first_country:
    Country_name.append(i.text.strip().replace('\n','').split()[0])

Country_name

Country_name=Country_name[1]
Country_name

Name_of_country=[]
Name_of_country.append(Country_name)
Name_of_country

for i in next_country:
    Name_of_country.append(i.get_text().replace('\n',''))

state=[]
state.append(Name_of_country[0])
for i in Name_of_country[10:19]:
    state.append(i)
    
state

#scraping Rating

first_rat=soup.find_all('div', class_="rankings-block__banner--rating")[1]
next_rat=soup.find_all('td',class_='table-body__cell u-text-right rating')

Ratings_bowl=[]

first_rat

for i in first_rat:
    Ratings_bowl.append(i.text)

for i in next_rat:
    Ratings_bowl.append(i.text)
    
Bowler_rating=[]

Bowler_rating.append(Ratings_bowl[0])
Bowler_rating
for i in Ratings_bowl[10:19]:
    Bowler_rating.append(i)
    
Bowler_rating

# Preparing DateFrame

Top_10_Bowler=pd.DataFrame({'Position':Position,'Name of Player':Bowler,'Country':state, 'Ratings':Bowler_rating})


Top_10_Bowler

  Position     Name of Player Country Ratings
0        1        Trent Boult      NZ     760
1        2     Josh Hazlewood     AUS     727
2        3     Mitchell Starc     AUS     665
3        4     Shaheen Afridi     PAK     661
4        5         Matt Henry      NZ     656
5        6         Adam Zampa     AUS     655
6        7       Mehedi Hasan     BAN     655
7        8   Mujeeb Ur Rahman     AFG     650
8        9  Mustafizur Rahman     BAN     640
9       10        Rashid Khan     AFG     635

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [8]:
# Sending Request to website
url=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

#Downloding source code
soup=BeautifulSoup(url.content)

#Scraping position

first_pos=soup.find_all('td', class_="rankings-block__banner--pos")
next_pos=soup.find_all('td',class_='table-body__cell table-body__cell--position u-text-right')

next_pos

Position=[]

for i in first_pos:
    Position.append(i.text)
for i in next_pos:
    Position.append(i.text)
    
Position=Position[0:10]
Position


#scraping top 10  ODI teams 

first_place=soup.find_all('span', class_="u-hide-phablet")
teams=[]
for i in first_place:
    teams.append(i.text)
    
teams=teams[0:10]
teams

#scraping matches

first=soup.find_all('td', class_="rankings-block__banner--matches")
next_match=soup.find_all('td',class_='table-body__cell u-center-text')

j=next_match[0::2]

matches=[]

for i in first:
    matches.append(i.text)
for i in j:
    matches.append(i.text)
    
matches=matches[0:10]
matches

#scraping points

first_p=soup.find_all('td', class_="rankings-block__banner--points")
next_p=soup.find_all('td',class_='table-body__cell u-center-text')

points=next_p[1::2]

Point=[]

for i in first_p:
    Point.append(i.text)
for i in points:
    Point.append(i.text)
    
Point=Point[0:10]
Point

#scraping rating

first_r=soup.find_all('td', class_="rankings-block__banner--rating u-text-right")
next_r=soup.find_all('td',class_='table-body__cell u-text-right rating')

next_r

Rating=[]

for i in first_r:
    Rating.append(i.text.replace('\n', " ").strip())
for i in next_r:
    Rating.append(i.text)
    
Rating=Rating[0:10]
Rating

# Making DataFrame

ODI_Data_womens=pd.DataFrame({'Position':Position,'Top_10_ODI TEAMS':teams,'Matches_top10':matches,'Points':Point, 'Ratings':Rating})

ODI_Data_womens

  Position Top_10_ODI TEAMS Matches_top10 Points Ratings
0        1        Australia            18  3,061     170
1        2     South Africa            26  3,098     119
2        3          England            25  2,904     116
3        4            India            27  2,820     104
4        5      New Zealand            24  2,425     101
5        6      West Indies            24  2,334      97
6        7       Bangladesh            12    932      78
7        8         Thailand             8    572      72
8        9         Pakistan            24  1,519      63
9       10        Sri Lanka             8    353      44

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [9]:
# Sending Request to website
url=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

#Downloding source code
soup=BeautifulSoup(url.content)

#Scraping position of player

first_pos=soup.find('span', class_="rankings-block__pos-number")
next_pos=soup.find_all('span',class_='rankings-table__pos-number')

next_pos

Position=[]

for i in first_pos:
    Position.append(i.text.replace('\n',' ').strip())
for i in next_pos:
    Position.append(i.text.replace('\n',' ').strip())
    
Position=Position[0:10]

Position

#scraping name of batwomen

first_name=soup.find_all('div', class_="rankings-block__banner--name")[0]
next_name=soup.find_all('td',class_='table-body__cell name')

next_name

names=[]

for i in first_name:
    names.append(i.text)
for i in next_name:
    names.append(i.text.strip())
    
names=names[0:10]
names

#scraping name of Country

first_country=soup.find_all('div', class_="rankings-block__banner--nationality")
next_country=soup.find_all('td',class_='table-body__cell nationality-logo')

first_country

Country_name=[]

for i in first_country:
    Country_name.append(i.text.strip().replace('\n','').split()[0])
    
Country_name=Country_name[0]
Country_name

Name_of_country=[]
Name_of_country.append(Country_name)
Name_of_country

for i in next_country:
    Name_of_country.append(i.text.replace('\n',''))

Name_of_country=Name_of_country[0:10]
Name_of_country

#scraping Rating

first_rating=soup.find('div', class_="rankings-block__banner--rating")
next_rating=soup.find_all('td',class_='table-body__cell u-text-right rating')

Ratings=[]

for i in first_rating:
    Ratings.append(i.text)
for i in next_rating:
    Ratings.append(i.text)
    
Ratings=Ratings[0:10]

Ratings

Top_10_Batswomen=pd.DataFrame({'Position':Position,'Name of Player':names,'Country':Name_of_country, 'Ratings':Ratings})


Top_10_Batswomen

  Position       Name of Player Country Ratings
0        1         Alyssa Healy     AUS     785
1        2          Beth Mooney     AUS     749
2        3      Laura Wolvaardt      SA     732
3        4       Natalie Sciver     ENG     725
4        5     Harmanpreet Kaur     IND     716
5        6      Smriti Mandhana     IND     714
6        7          Meg Lanning     AUS     710
7        8       Rachael Haynes     AUS     701
8        9    Amy Satterthwaite      NZ     661
9       10  Chamari Athapaththu      SL     655

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [10]:
# Sending Request to website
url=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

#Downloding source code
soup=BeautifulSoup(url.content)

#Scraping position of player

first_pos=soup.find('span', class_="rankings-block__pos-number")
next_pos=soup.find_all('span',class_='rankings-table__pos-number')

next_pos

Position=[]

for i in first_pos:
    Position.append(i.text.replace('\n',' ').strip())
for i in next_pos:
    Position.append(i.text.replace('\n',' ').strip())
    
Position=Position[0:10]

Position


#scraping name of batsmen

first_name=soup.find_all('div', class_="rankings-block__banner--name")[1]
next_name=soup.find_all('td',class_='table-body__cell name')

next_name

names=[]

for i in first_name:
    names.append(i.text)
for i in next_name:
    names.append(i.text.strip())
    
names
Bowler=[]
Bowler.append(names[0])

for i in names[10:19]:
    Bowler.append(i)
    
Bowler

#scraping name of Country

first_country=soup.find_all('div', class_="rankings-block__banner--nationality")
next_country=soup.find_all('td',class_='table-body__cell nationality-logo')

first_country

Country_name=[]

for i in first_country:
    Country_name.append(i.text.strip().replace('\n','').split()[0])

Country_name

Country_name=Country_name[1]
Country_name

Name_of_country=[]
Name_of_country.append(Country_name)
Name_of_country

for i in next_country:
    Name_of_country.append(i.get_text().replace('\n',''))

state=[]
state.append(Name_of_country[0])
for i in Name_of_country[10:19]:
    state.append(i)
    
state

#scraping Rating

first_rat=soup.find_all('div', class_="rankings-block__banner--rating")[1]
next_rat=soup.find_all('td',class_='table-body__cell u-text-right rating')

Ratings_bowl=[]

first_rat

for i in first_rat:
    Ratings_bowl.append(i.text)

for i in next_rat:
    Ratings_bowl.append(i.text)
    
Bowler_rating=[]

Bowler_rating.append(Ratings_bowl[0])
Bowler_rating
for i in Ratings_bowl[10:19]:
    Bowler_rating.append(i)
    
Bowler_rating

# Preparing DateFrame

Top_10_Bowler=pd.DataFrame({'Position':Position,'Name of Player':Bowler,'Country':state, 'Ratings':Bowler_rating})


Top_10_Bowler

  Position       Name of Player Country Ratings
0        1    Sophie Ecclestone     ENG     739
1        2        Jess Jonassen     AUS     725
2        3         Megan Schutt     AUS     722
3        4       Shabnim Ismail      SA     722
4        5       Jhulan Goswami     IND     698
5        6      Hayley Matthews      WI     671
6        7           Kate Cross     ENG     657
7        8       Ayabonga Khaka      SA     634
8        9  Rajeshwari Gayakwad     IND     617
9       10       Marizanne Kapp      SA     598

# Q. 7 Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
#i) Headline
#ii) Time
3iii) News Link

In [11]:
# Sending Request to website
url=requests.get('https://www.cnbc.com/world/?region=world')

#Downloding source code
soup=BeautifulSoup(url.content)

#scraping latest news with Headline, time step and news link

#scraping news feed

Headlines=soup.find_all('a', class_="LatestNews-headline")

News_feed=[]

for i in Headlines:
    News_feed.append(i.text)
    
News_feed

#scraping timestep

timestep=soup.find_all('time', class_="LatestNews-timestamp")

time=[]

for i in timestep:
    time.append(i.text)
    
time

#scraping NEWS LINK

link=soup.find_all('a', class_="LatestNews-headline")

News_link=[]

for i in link:
    News_link.append(i.get('href'))
    
News_link

# Making Data Frame
NewsData=pd.DataFrame({'Latest News':News_feed, 'Time': time, 'Link':News_link })

NewsData

,Latest News,Time,Link
0,OPEC+ agrees to stick to its existing policy o...,8 Min Ago,https://www.cnbc.com/2022/12/04/opec-meeting-o...
1,Parking lots are becoming as important as cars...,21 Hours Ago,https://www.cnbc.com/2022/12/03/parking-lots-b...
2,Amazon's cloud unit faces cost-sensitive custo...,22 Hours Ago,https://www.cnbc.com/2022/12/03/aws-faces-cost...
3,Don’t overlook this health warning on your dec...,22 Hours Ago,https://www.cnbc.com/2022/12/03/dont-overlook-...
4,How electric air taxis could shake up the airl...,22 Hours Ago,https://www.cnbc.com/2022/12/03/how-electric-a...
5,I raised 2 successful CEOs and a doctor. Here'...,22 Hours Ago,https://www.cnbc.com/2022/12/03/i-raised-2-suc...
6,Delta pilots would get more than 30% in pay ra...,22 Hours Ago,https://www.cnbc.com/2022/12/03/delta-pilots-w...
7,Men participate less in 401(k) plans than wome...,23 Hours Ago,https://www.cnbc.com/2022/12/03/men-participat...
8,The best U.S. states to raise a family if you ...,23 Hours Ago,https://www.cnbc.com/2022/12/03/best-states-ra...
9,Susan Cain: This Bob Dylan-inspired phrase can...,23 Hours Ago,https://www.cnbc.com/2022/12/03/bestselling-au...
10,The difference between this comeback and the m...,23 Hours Ago,https://www.cnbc.com/2022/12/03/the-difference...
11,Goldman says buy these five stocks for the lon...,23 Hours Ago,https://www.cnbc.com/2022/12/03/goldman-says-b...
12,Celsius users with crypto collateral stuck tur...,"December 3, 2022",https://www.cnbc.com/2022/12/03/celsius-users-...
13,Cramer's lightning round: Let Extreme Networks...,"December 2, 2022",https://www.cnbc.com/2022/12/02/cramers-lightn...
14,Jim Cramer says these 3 apparel stocks benefit...,"December 2, 2022",https://www.cnbc.com/2022/12/02/jim-cramer-say...
15,Cramer’s week ahead: Markets need a strong job...,"December 2, 2022",https://www.cnbc.com/2022/12/02/cramers-week-a...
16,Pro Picks: Watch all of Friday's big stock cal...,"December 2, 2022",https://www.cnbc.com/2022/12/02/pro-picks-watc...
17,"There is 'enormous opportunity' in REITs, says...","December 2, 2022",https://www.cnbc.com/2022/12/02/reits-offer-en...
18,Biden administration will end monkeypox public...,"December 2, 2022",https://www.cnbc.com/2022/12/02/biden-administ...
19,Expect more choppiness ahead after a week of m...,"December 2, 2022",https://www.cnbc.com/2022/12/02/expect-more-ch...
20,"GM, LG investing $275 million to expand Tennes...","December 2, 2022",https://www.cnbc.com/2022/12/02/gm-lg-investin...
21,"These beat-up tech stocks have potential, ‘Hal...","December 2, 2022",https://www.cnbc.com/2022/12/02/big-tech-stock...
22,The Fed's path to a 'Goldilocks' economy just ...,"December 2, 2022",https://www.cnbc.com/2022/12/02/the-feds-path-...
23,3 things crypto investors need to know in post...,"December 2, 2022",https://www.cnbc.com/2022/12/02/three-things-c...
24,Biden condemns antisemitism as Ye praises Hitl...,"December 2, 2022",https://www.cnbc.com/2022/12/02/biden-condemns...
25,Georgia man arrested for shooting boy campaign...,"December 2, 2022",https://www.cnbc.com/2022/12/02/georgia-electi...
26,What to watch in the markets in the week ahead,"December 2, 2022",https://www.cnbc.com/2022/12/02/markets-lookin...
27,The biggest tax changes to know before filing ...,"December 2, 2022",https://www.cnbc.com/2022/12/02/the-biggest-ta...
28,'This is a crisis.' Why more workers need acce...,"December 2, 2022",https://www.cnbc.com/2022/12/02/why-more-worke...
29,Carnival’s Princess Cruises will return to Jap...,"December 2, 2022",https://www.cnbc.com/2022/12/02/carnivals-prin...

# Q.8 Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details :
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [12]:
# Sending Request to website
url=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

#Downloding source code
soup=BeautifulSoup(url.content)

# Scraping Paper title

paper=soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg")

Paper_title=[]

for i in paper:
    Paper_title.append(i.text)
    

Paper_title

# Scraping Paper Authors

Authors=soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO")

Paper_Authors=[]

for i in Authors:
    Paper_Authors.append(i.text)
    

Paper_Authors

# Scraping Paper publication date

date=soup.find_all('span',class_="sc-1thf9ly-2 dvggWt")

publication_date=[]

for i in date:
    publication_date.append(i.text)
    
publication_date

# Scraping Paper url

paper_link=soup.find_all('a',class_="sc-5smygv-0 fIXTHm")

Paper_Link=[]

for i in paper_link:
    Paper_Link.append(i.get('href'))
    
Paper_Link

# Making Data Frame
PaperData=pd.DataFrame({'Research Article':Paper_title, 'Authors': Paper_Authors, 'Date of Publication':publication_date,'Paper Link':Paper_Link})

PaperData

,Research Article,Authors,Date of Publication,Paper Link
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# Q.9 Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [13]:
# Sending Request to website
url=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

#Downloding source code
soup=BeautifulSoup(url.content)

# Scraping Restaurant name

Resto=soup.find_all('a',class_="restnt-name ellipsis")

Name=[]

for i in Resto:
    Name.append(i.text)
    
Name

# Scraping cuisine

cuisine=soup.find_all('span',class_="double-line-ellipsis")

Type=[]

for i in cuisine:
    Type.append(i.text.split('|')[1])
    
Type

# Scraping Location

add=soup.find_all('div',class_="restnt-loc ellipsis")

Location=[]

for i in add:
    Location.append(i.text)
    
Location

# Scraping Location

stars=soup.find_all('div',class_="restnt-rating rating-4")

Rating=[]

for i in stars:
    Rating.append(i.text)
    
Rating

# Scraping image-url

image=soup.find_all('img',class_="no-img")

URL=[]

for i in image:
    URL.append(i.get('data-src'))
    
URL

# Making Data Frame
RestoData=pd.DataFrame({'Restaurant Name':Name, 'Restaurant cuisine': Type, 'Location':Location,'Resto Rating':Rating, 'Image Url':URL })

RestoData

,Restaurant Name,Restaurant cuisine,Location,Resto Rating,Image Url
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank
ii) Publication
iii) h5-index
iv) h5-median

In [14]:
# Sending Request to website
url=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')

#Downloding source code
soup=BeautifulSoup(url.content)

# Scraping Rank

Rank=soup.find_all('td',class_="gsc_mvt_p")

Publication_rank=[]

for i in Rank:
    Publication_rank.append(i.text)
    
Publication_rank

# Scraping Publication

publication=soup.find_all('td',class_="gsc_mvt_t")

Publication_name=[]

for i in publication:
    Publication_name.append(i.text)
    
Publication_name

# Scraping h5_index

index=soup.find_all('td',class_="gsc_mvt_n")

h5_index=[]

for i in index:
    h5_index.append(i.text)
    
h5_index

h5=pd.DataFrame({'h5_index':h5_index})

h5=h5.drop(h5.index[100:], axis=0)


# Scraping h5_median

median=soup.find_all('span',class_="gs_ibl gsc_mp_anchor")

h5_median=[]

for i in median:
    h5_median.append(i.text)
    
h5_median

# Making Data Frame
Data=pd.DataFrame({'Rank of Publication':Publication_rank, 'Publication Name': Publication_name,'h5_median':h5_median })

Data.insert(3, "newcol", h5['h5_index'])

Data=Data.rename({'newcol':'h5-index'}, axis=1)

Data

,Rank of Publication,Publication Name,h5_median,h5-index
0,1.,Nature,667,444
1,2.,The New England Journal of Medicine,780,667
2,3.,Science,614,432
3,4.,IEEE/CVF Conference on Computer Vision and Pat...,627,780
4,5.,The Lancet,635,401
...,...,...,...,...
95,96.,Journal of Business Research,233,296
96,97.,Molecular Cancer,209,173
97,98.,Sensors,201,228
98,99.,Nature Climate Change,228,173
99,100.,IEEE Internet of Things Journal,212,217