In [1]:
from selenium import webdriver
import pandas as pd
import numpy as np
from time import sleep
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import requests
import re
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
#loading website
driver=webdriver.Chrome('D:\chromedriver.exe') # creating automated chrome window
driver.maximize_window() # maximizing
driver.get(" https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos") # going to website
sleep(2)

# Preparing empty lits to scrape data
Rank=[]
Video=[]
Artist=[]
Date=[]
Views=[]

# Scrapping the required data
#scrapping rank
rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in rank[0:30]:
    Rank.append(i.text)

#scrapping name of video
name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in name[0:30]:
    video_name=i.text
    Video.append(re.findall(r'"(.*?)"', video_name))

#scrapping Name of uploader
artist=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in artist[0:30]:
    Artist.append(i.text)

#scrapping  date of upload
date=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in date[0:30]:
    Date.append(i.text)

#scrapping no. of views
views=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in views[0:30]:
    Views.append(i.text)

# making a dataframe
Video_list=pd.DataFrame({'Rank':Rank,'Video name': Video,'Name of Uploader':Artist,'date of Upload':Date,'Views(in Billions)': Views})

driver.close()

Video_list

,Rank,Video name,Name of Uploader,date of Upload,Views(in Billions)
0,1.,[Baby Shark Dance],Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.00
1,2.,[Despacito],Luis Fonsi,"January 12, 2017",8.05
2,3.,[Johny Johny Yes Papa],LooLoo Kids,"October 8, 2016",6.57
3,4.,[Bath Song],Cocomelon – Nursery Rhymes,"May 2, 2018",5.89
4,5.,[Shape of You],Ed Sheeran,"January 30, 2017",5.88
5,6.,[See You Again],Wiz Khalifa,"April 6, 2015",5.74
6,7.,[Phonics Song with Two Words],ChuChu TV,"March 6, 2014",5.08
7,8.,[Uptown Funk],Mark Ronson,"November 19, 2014",4.79
8,9.,[Wheels on the Bus],Cocomelon – Nursery Rhymes,"May 24, 2018",4.77
9,10.,[Learning Colors – Colorful Eggs on a Farm],Miroshka TV,"February 27, 2018",4.76
10,11.,[Gangnam Style],Psy,"July 15, 2012",4.64
11,12.,[Masha and the Bear – Recipe for Disaster],Get Movies,"January 31, 2012",4.52
12,13.,[Dame Tu Cosita],El Chombo,"April 5, 2018",4.18
13,14.,[Sugar],Maroon 5,"January 14, 2015",3.80
14,15.,[Roar],Katy Perry,"September 5, 2013",3.70
15,16.,[Counting Stars],OneRepublic,"May 31, 2013",3.70
16,17.,[Axel F],Crazy Frog,"June 16, 2009",3.67
17,18.,[Sorry],Justin Bieber,"October 22, 2015",3.62
18,19.,[Thinking Out Loud],Ed Sheeran,"October 7, 2014",3.53
19,20.,[Baa Baa Black Sheep],Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21.,[Dark Horse],Katy Perry,"February 20, 2014",3.42
21,22.,[Waka Waka (This Time for Africa)],Shakira,"June 4, 2010",3.40
22,23.,[Faded],Alan Walker,"December 3, 2015",3.38
23,24.,[Let Her Go],Passenger,"July 25, 2012",3.36
24,25.,[Girls Like You],Maroon 5,"May 31, 2018",3.35
25,26.,[Perfect],Ed Sheeran,"November 9, 2017",3.33
26,27.,[Bailando],Enrique Iglesias,"April 11, 2014",3.31
27,28.,[Lean On],Major Lazer,"March 22, 2015",3.31
28,29.,[Humpty the train on a fruits ride],Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30.,[Lakdi Ki Kathi],Jingle Toons,"June 14, 2018",3.24

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [3]:
#loading website
driver=webdriver.Chrome('D:\chromedriver.exe') # creating automated chrome window
driver.maximize_window() # maximizing
driver.get("https://www.bcci.tv/.") # going to website
sleep(2)

# Clicking on the international tab
driver.find_element(By.XPATH,'(//a[@class="nav-link "])[1]').click()
sleep(5)

#clicking on all category tab
driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[2]/div/div[1]/div/div[1]').click()
sleep(2)

#clicking on men
driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[2]/div/div[1]/div/div[2]/div[2]').click()
sleep(2)

# Clicking on all format
driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[2]/div/div[3]/div/div[1]').click()
sleep(2)

# Clicking on ODI
driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[2]/div/div[3]/div/div[2]/div[3]').click()
sleep(2)

# Clicking on All Team
driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[2]/div/div[4]/div/div[1]').click()
sleep(2)

# Clicking on India
driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[2]/div/div[4]/div/div[2]/div[4]').click()
sleep(10)


#clicking 2 times for the more fixtures
moretab=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')
for _ in range(0,1):
    driver.execute_script("arguments[0].click();", moretab)
    sleep(10)

#Scrapping the information
#creating the empty lists
Match=[]
Series=[]
Stadium=[]
Place=[]
Date=[]
Time=[]

match=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]/span[1]')
for i in match:
    Match.append(i.text)

stadium=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]/span[2]')
for i in stadium:
    Stadium.append(i.text)
    
place=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in place:
    c=i.text
    y=c.split(',')
    Place.append(y[1])
    
series=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in series:
    Series.append(i.text)

date=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date:
    Date.append(i.text)
        
time=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time:
    Time.append(i.text)

# making a dataframe
match_data=pd.DataFrame({'Match Title':Match,'Series': Series,'Place':Place,'Stadium':Stadium,'Date': Date,'Time':Time})

driver.close()

match_data

,Match Title,Series,Place,Stadium,Date,Time
0,1st ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,Guwahati,"Barsapara Cricket Stadium,",10 JAN 2023,1:30 PM IST
1,2nd ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,Kolkata,"Eden Gardens,",12 JAN 2023,1:30 PM IST
2,3rd ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,Thiruvananthapuram,"Greenfield International Stadium,",15 JAN 2023,1:30 PM IST
3,1st ODI -,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,Hyderabad,"Rajiv Gandhi International Stadium,",18 JAN 2023,1:30 PM IST
4,2nd ODI -,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,Raipur,Shaheed Veer Narayan Singh International Crick...,21 JAN 2023,1:30 PM IST
5,3rd ODI -,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,Indore,"Holkar Cricket Stadium,",24 JAN 2023,1:30 PM IST
6,1st ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,Mumbai,"Wankhede Stadium,",17 MAR 2023,1:30 PM IST
7,2nd ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,Visakhapatnam,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",19 MAR 2023,1:30 PM IST
8,3rd ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,Chennai,"MA Chidambaram Stadium,",22 MAR 2023,1:30 PM IST

# 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [4]:
#loading website
driver=webdriver.Chrome('D:\chromedriver.exe') # creating automated chrome window
driver.maximize_window() # maximizing
driver.get("https://www.guru99.com/") # going to website
sleep(2)

#Clicking on selenium tab 
selenium_tab=driver.find_element(By.XPATH,'(//div[@class="kadence-info-box-icon-inner-container"])[19]')
driver.execute_script("arguments[0].click();", selenium_tab)
sleep(5)


# Going to selenium Exception handling webpage
driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a').click()
sleep(5)

#scrapping the required information
#scrapping Exception Name
Name=[]
name=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p/strong')
for i in name:
    Name.append(i.text)
for _ in range(6):
    Name.pop()
        
# Scrapping Exception Description
Description=[]
des=driver.find_elements(By.XPATH,'//*[@id="post-1953"]/div/div/p')
for i in des:
    x=i.text
    y=re.findall(":.*", x)
    Description.append(y)

for _ in range(12):
    Description.pop()

#Making Dataframe

data=pd.DataFrame({'Exception Type':Name,'Description':Description})

driver.close()

data

,Exception Type,Description
0,1. ElementNotVisibleException:,[: This type of Selenium exception occurs when...
1,2. ElementNotSelectableException:,[: This Selenium exception occurs when an elem...
2,3. NoSuchElementException:,[: This Exception occurs if an element could n...
3,4. NoSuchFrameException:,[: This Exception occurs if the frame target t...
4,5. NoAlertPresentException:,[: This Exception occurs when you switch to no...
5,6. NoSuchWindowException:,[: This Exception occurs if the window target ...
6,7. StaleElementReferenceException:,[: This Selenium exception occurs happens when...
7,8. SessionNotFoundException:,[: The WebDriver is acting after you quit the ...
8,9. TimeoutException:,[: Thrown when there is not enough time for a ...
9,10. WebDriverException:,[: This Exception takes place when the WebDriv...
10,11. ConnectionClosedException:,[: This type of Exception takes place when the...
11,12. ElementClickInterceptedException:,[: The command may not be completed as the ele...
12,13. ElementNotInteractableException:,[: This Selenium exception is thrown when any ...
13,14. ErrorInResponseException:,[: This happens while interacting with the Fir...
14,15. ErrorHandler.UnknownServerException:,[: Exception is used as a placeholder in case ...
15,16. ImeActivationFailedException:,[: This expectation will occur when IME engine...
16,17. ImeNotAvailableException:,[: It takes place when IME support is unavaila...
17,18. InsecureCertificateException:,[: Navigation made the user agent to hit a cer...
18,19. InvalidArgumentException:,[: It occurs when an argument does not belong ...
19,20. InvalidCookieDomainException:,[: This happens when you try to add a cookie u...
20,21. InvalidCoordinatesException:,[: This type of Exception matches an interacti...
21,22. InvalidElementStateException:,[: It occurs when command can’t be finished wh...
22,23. InvalidSessionIdException:,[: This Exception took place when the given se...
23,24. InvalidSwitchToTargetException:,[: This occurs when the frame or window target...
24,25. JavascriptException:,[: This issue occurs while executing JavaScrip...
25,26. JsonException:,[: It occurs when you afford to get the sessio...
26,27. NoSuchAttributeException:,[: This kind of Exception occurs when the attr...
27,28. MoveTargetOutOfBoundsException:,[: It takes place if the target provided to th...
28,29. NoSuchContextException:,[: ContextAware does mobile device testing.]
29,30. NoSuchCookieException:,[: This Exception occurs when no cookie matchi...
30,31. NotFoundException:,[: This Exception is a subclass of WebDriverEx...
31,32. RemoteDriverServerException:,[: This Selenium exception is thrown when the ...
32,33. ScreenshotException:,[: It is not possible to capture a screen.]
33,34. SessionNotCreatedException:,[: It happens when a new session could not be ...
34,35. UnableToSetCookieException:,[: This occurs if a driver is unable to set a ...
35,36. UnexpectedTagNameException:,[: Happens if a support class did not get a we...
36,37. UnhandledAlertException:,[: This expectation occurs when there is an al...
37,38. UnexpectedAlertPresentException:,[: It occurs when there is the appearance of a...
38,39. UnknownMethodException:,[: This Exception happens when the requested c...
39,40. UnreachableBrowserException:,[: This Exception occurs only when the browser...
40,41. UnsupportedCommandException:,[: This occurs when remote WebDriver doesn’t s...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [5]:
#loading website
driver=webdriver.Chrome('D:\chromedriver.exe') # creating automated chrome window
driver.maximize_window() # maximizing
driver.get("https://www.statisticstimes.com/") # going to website
sleep(2)

#clicking on economy tab
driver.find_element(By.XPATH,'(//button[@class="dropbtn"])[2]').click()
sleep(5)
driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()
sleep(5)



#Clicking on tab GDP of Indian States
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
sleep(5)



#creating the empty lists for the data to be scrapped
Rank=[]
State=[]
GSDP1819=[]
GSDP1920=[]
Share1819=[]
GDP=[]

rank=driver.find_elements(By.XPATH,'(//table[@class="display dataTable"])[1]/tbody/tr/td[1]') # rank
for i in rank:
    Rank.append(i.text)

state=driver.find_elements(By.XPATH,'(//table[@class="display dataTable"])[1]/tbody/tr/td[2]') # State
for i in state:
    State.append(i.text)

gsdp1819=driver.find_elements(By.XPATH,'(//table[@class="display dataTable"])[1]/tbody/tr/td[4]') # GSDP1819
for i in gsdp1819:
    GSDP1819.append(i.text)

gsdp1920=driver.find_elements(By.XPATH,'(//table[@class="display dataTable"])[1]/tbody/tr/td[3]') #GSDP1920
for i in gsdp1920:
    GSDP1920.append(i.text)

share1819=driver.find_elements(By.XPATH,'(//table[@class="display dataTable"])[1]/tbody/tr/td[5]') #Share1819
for i in share1819:
    Share1819.append(i.text)

gdp=driver.find_elements(By.XPATH,'(//table[@class="display dataTable"])[1]/tbody/tr/td[6]') #GDP
for i in gdp:
    GDP.append(i.text)

# making a dataframe
Economy_data=pd.DataFrame({'Rank':Rank,'State':State,'GSDP(18-19)':GSDP1819,'GSDP(19-20)':GSDP1920,'Share (18-19)':Share1819,'GDP in $Billion':GDP})

driver.close()

Economy_data

,Rank,State,GSDP(18-19),GSDP(19-20),Share (18-19),GDP in $Billion
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language useD
Note: - From the home page you have to click on the trending option from Explore menu through code

In [6]:
#loading website
driver=webdriver.Chrome('D:\chromedriver.exe') # creating automated chrome window
driver.maximize_window() # maximizing
driver.get("https://github.com/") # going to website
sleep(2)

# clicking on open source button
button=driver.find_element(By.XPATH,'(//button[@class="HeaderMenu-link border-0 width-full width-lg-auto px-0 px-lg-2 py-3 py-lg-2 no-wrap d-flex flex-items-center flex-justify-between js-details-target"])[3]')
button.click()

# Clicking on trending repository
driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a').click()

In [ ]:
#Creating the lists of repository urls
URL=[]
url=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
for i in url:
    URL.append(i.get_attribute('href'))

In [42]:
#scrapping the details by going on eachpage
#creating empty lists
Title=[]
Description=[]
Count=[]
Lang=[]

#Scrapping information from each repository
for i in URL:
    driver.get(i)
    sleep(1)

    #Scrapping the title
    title=driver.find_element(By.XPATH,'//div[@class="flex-auto min-width-0 width-fit mr-3"]')
    Title.append(title.text.replace('\n', ''))

    #Scrapping the description
    description=driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
    Description.append(description.text)

    #Scrapping the Contributer's count
    try:
        count=driver.find_element(By.XPATH,'(//span[@class="Counter"])[10]')
        Count.append(count.text)
    except NoSuchElementException:
        Count.append('-')
    
    #Scrapping the language used
    try:
        lang=driver.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        Lang.append(lang.text)
    except NoSuchElementException:
        Lang.append('-')


#making the data frame
Repository_Data=pd.DataFrame({'Repository Title':Title,'Repository Description':Description,'contributers Count':Count,'Language used':Lang})

Repository_Data

,Repository Title,Repository Description,contributers Count,Language used
0,lucidrains/PaLM-rlhf-pytorchPublic,Implementation of RLHF (Reinforcement Learning...,4,Python
1,LAION-AI/Open-AssistantPublic,OpenAssistant is a chat-based assistant that u...,3,Python
2,hehonghui/awesome-english-ebooksPublic,"经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi...",-,CSS
3,lencx/ChatGPTPublic,"🤖 ChatGPT Desktop Application (Mac, Windows an...",7,Rust
4,AmruthPillai/Reactive-ResumePublic,A one-of-a-kind resume builder that keeps your...,-,TypeScript
5,apple/ml-stable-diffusionPublic,Stable Diffusion with Core ML on Apple Silicon,-,Python
6,wong2/chat-gpt-google-extensionPublic,A browser extension to display ChatGPT respons...,-,SCSS
7,jlevy/the-art-of-command-linePublic,"Master the command line, in one page",-,-
8,sw-yx/ai-notesPublic,"notes for my AI studies, writing, and product ...",-,JavaScript
9,alist-org/alistPublic,🗂️A file list program that supports multiple s...,,Go
10,transitive-bullshit/chatgpt-apiPublic,Node.js client for the unofficial ChatGPT API. 🔥,71,TypeScript
11,Cameri/nostreamPublic,A Nostr Relay written in TypeScript,-,TypeScript
12,novuhq/novuPublic,The open-source notification infrastructure fo...,94,TypeScript
13,serverless-stack/sstPublic,💥 SST makes it easy to build full-stack server...,112,TypeScript
14,ChatGPT-Hackers/ChatGPT-API-serverPublic,API server for ChatGPT,5,Go
15,f/awesome-chatgpt-promptsPublic,This repo includes ChatGPT promt curation to u...,-,HTML
16,HandBrake/HandBrakePublic,HandBrake's main development repository,98,C
17,excalidraw/excalidrawPublic,Virtual whiteboard for sketching hand-drawn li...,211,TypeScript
18,zas023/JdBuyerPublic,京东抢购自动下单助手，GUI 支持 Windows 和 macOS,-,Python
19,tamagui/tamaguiPublic,Universal UI kit and style system for React Na...,115,TypeScript
20,symfony/symfonyPublic,The Symfony PHP framework,411,PHP
21,UberGuidoZ/FlipperPublic,Playground (and dump) of stuff I make or modif...,-,C
22,gbj/leptosPublic,Build fast web applications with Rust.,20,Rust
23,ossu/computer-sciencePublic,🎓 Path to a free self-taught education in Comp...,128,-
24,Anuken/MindustryPublic,The automation tower defense RTS,-,Java

# 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [7]:
#loading website
driver=webdriver.Chrome('D:\chromedriver.exe') # creating automated chrome window
driver.maximize_window() # maximizing
driver.get("https://www.billboard.com/") # going to website
sleep(20)

# Clicking on chart option
driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()
sleep(20)

# Clicking on hot 100
driver.find_element(By.XPATH,'//a[@class="c-label__link lrv-u-color-brand-primary u-color-black@mobile-max a-font-primary-bold lrv-u-font-size-32 u-whitespace-nowrap@tablet"]').click()
sleep(20)

In [8]:
# scrapping the the information required
Song=[]
Artist_Name=[]
LWR=[]
PR=[]
Note=[]

#scrapping Song name
song=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
for i in song:
    Song.append(i.text)
Song

#scrapping Artist name
artist=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/span')
for i in artist:
    Artist_Name.append(i.text)

Name=[]
for i in range(0,400,4):
    Name.append(Artist_Name[i])

#scrapping lwr
lwr=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
for i in lwr:
    LWR.append(i.text)

#scrapping pr
pr=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
for i in pr:
    PR.append(i.text)

#scrapping note
note=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
for i in note:
    Note.append(i.text)

    
# making a dataframe
Billboard_data=pd.DataFrame({'Name of Song':Song,'Name of Artist':Name,'Last week Rank':LWR,'Peak Rank':PR,'Weeks on Board Note':Note})

driver.close()

Billboard_data

,Name of Song,Name of Artist,Last week Rank,Peak Rank,Weeks on Board Note
0,All I Want For Christmas Is You,Mariah Carey,1,1,57
1,Rockin' Around The Christmas Tree,Brenda Lee,2,2,51
2,Jingle Bell Rock,Bobby Helms,4,3,48
3,A Holly Jolly Christmas,Burl Ives,5,4,31
4,Last Christmas,Wham!,6,5,30
...,...,...,...,...,...
95,Down Home,Jimmie Allen,-,88,5
96,One Thing At A Time,Morgan Wallen,81,37,3
97,Hold Me Closer,Elton John & Britney Spears,89,6,17
98,Far,SZA,61,61,2
99,All Mine,Brent Faiyaz,95,42,20

# 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [9]:
#loading website
driver=webdriver.Chrome('D:\chromedriver.exe') # creating automated chrome window
driver.maximize_window() # maximizing
driver.get("https://www.naukri.com/hr-recruiters-consultants") # going to website
sleep(10)

# sending keys "Data Science" in search box
driver.find_element(By.XPATH,'//input[@class="sugInp"]').send_keys('Data Science')
#clicking on search button
driver.find_element(By.XPATH,'//button[@class="fl qsbSrch blueBtn"]').click()

In [10]:
#scrapping the required information
# creating empty lists
Name=[]
Designation=[]
Company_Name=[]
Skills=[]
Location=[]

#scrapping Recruiter's name
recruit=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in recruit:
    Name.append(i.text)

#scrapping Recruiter's designation
desg=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in desg:
    Designation.append(i.text)

#scrapping Recruiter's Company
Company=[]
company=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
for i in company:
    Company.append(i.text)
for i in range(1,100,2):
    Company_Name.append(Company[i])

#scrapping skills they hire for
skills=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in skills:
    Skills.append(i.text)

#scrapping Company Location
location=driver.find_elements(By.XPATH,'//div[@class="recInfo"]/div/p/span[2]/small')
try:
    for i in location:
        Location.append(i.text)
except NoSuchElementException:
    Location.append('Not Mentioned')

Location.insert(30,'Not Found') # inserting not found at the required places beacause try and except is not givig exception though exception handled
Location.insert(49,'Not Found')

# making a dataframe
Recruiter_data=pd.DataFrame({'Name of Recruiter':Name,'Designation of Recruiter':Designation,'Name of Company':Company_Name,'Skills They Hire for':Skills,'Location':Location})

driver.close()

Recruiter_data

,Name of Recruiter,Designation of Recruiter,Name of Company,Skills They Hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
15,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Not Found
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
32,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
33,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
34,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
35,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Not Found

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [11]:
#loading website
driver=webdriver.Chrome('D:\chromedriver.exe') # creating automated chrome window
driver.maximize_window() # maximizing
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare") # going to website
sleep(10)

In [12]:
#scraping information required
#creating the empty list
Book=[]
Author=[]
Sell=[]
Publisher=[]
Genre=[]

#scrapping book name
name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in name:
    Book.append(i.text)

#scrapping Author name
author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    Author.append(i.text)

#scrapping volumes sold
sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in sold:
    Sell.append(i.text)

#scrapping publisher
publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher:
    Publisher.append(i.text)

#scrapping genre
genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre:
    Genre.append(i.text)

# making a dataframe
Books_data=pd.DataFrame({'Title of Novel':Book,'Name of Author':Author,'Volumes Sold':Sell,'Publisher':Publisher,'Genre':Genre})

driver.close()

Books_data

,Title of Novel,Name of Author,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [13]:
#loading website
driver=webdriver.Chrome('D:\chromedriver.exe') # creating automated chrome window
driver.maximize_window() # maximizing
driver.get("https://www.imdb.com/list/ls095964455/") # going to website
sleep(10)

In [14]:
#scraping information required
#creating the empty list
Name=[]
Span=[]
Genre=[]
Run=[]
Ratings=[]
Vote=[]
#scraping Name of series
for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a'):
    Name.append(i.text)

#scraping Year span
for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]'):
    Span.append(i.text)

#scraping Genre
for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
    Genre.append(i.text)

#scraping Run Time
for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
    Run.append(i.text)

#scraping Run Ratings
for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]'):
    Ratings.append(i.text)

#scraping Votes
Votes=[]
for i in driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[2]'):
    Votes.append(i.text)
for i in range(1,201,2):
    Vote.append(Votes[i])    

    
# making a dataframe
TV_Series_data=pd.DataFrame({'Name of Series':Name,'Year Span':Span,'Genre':Genre,'Run Time':Run,'Ratings':Ratings,'Votes':Vote})

driver.close()

TV_Series_data

,Name of Series,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,100,493"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,190,782"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"994,342"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"294,275"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"253,376"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,382"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,001"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"199,984"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,715"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"247,039"

# 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [49]:
#loading website
driver=webdriver.Chrome('D:\chromedriver.exe') # creating automated chrome window
driver.maximize_window() # maximizing
driver.get("https://archive.ics.uci.edu/") # going to website
sleep(10)

# click on to all view all dataset
driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a').click()
sleep(10)

#scrapping weblink
weblinks=[]

#scraping weblinks
for i in driver.find_elements(By.XPATH,'//p[@class="normal"]/b/a'):
    weblinks.append(i.get_attribute('href'))

In [51]:
#scrapping information 
# creating empty lists
Name=[]
Type=[]
Task=[]
Att_Type=[]
Instance=[]
Attributes=[]
Year=[]
for i in weblinks:
    try:
        driver.get(i)
    # Scrapping name of dataset
        name=driver.find_element(By.XPATH,'//span[@class="heading"]')
        Name.append(name.text)

    # Scrapping Type of dataset
        tipe=driver.find_element(By.XPATH,'(//p[@class="normal"])[3]')
        Type.append(tipe.text)

    # Scrapping Task
        task=driver.find_element(By.XPATH,'(//p[@class="normal"])[15]')
        Task.append(task.text)
    
    # Scrapping Attribute type
        att=driver.find_element(By.XPATH,'(//p[@class="normal"])[9]')
        Att_Type.append(att.text)

    # Scrapping Instance
        instance=driver.find_element(By.XPATH,'(//p[@class="normal"])[5]')
        Instance.append(instance.text)

    # Scrapping Attributes
        attributes=driver.find_element(By.XPATH,'(//p[@class="normal"])[11]')
        Attributes.append(attributes.text)

    # Scrapping Year
        year=driver.find_element(By.XPATH,'(//p[@class="normal"])[13]')
        Year.append(year.text)
    
    except:
        pass
# making a dataframe
dataset=pd.DataFrame({'Name of Dataset':Name,'Type of Dataset':Type,'Task':Task,'Attribute type':Att_Type,'No. of Instances':Instance,'No.of Attributes':Attributes,'Year':Year})

dataset

,Name of Dataset,Type of Dataset,Task,Attribute type,No. of Instances,No.of Attributes,Year
0,Abalone Data Set,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995-12-01
1,Adult Data Set,Multivariate,Classification,"Categorical, Integer",48842,14,1996-05-01
2,Annealing Data Set,Multivariate,Classification,"Categorical, Integer, Real",798,38,N/A
3,Anonymous Microsoft Web Data Data Set,N/A,Recommender-Systems,Categorical,37711,294,1998-11-01
4,Arrhythmia Data Set,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998-01-01
...,...,...,...,...,...,...,...
612,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020-12-16
613,Turkish Music Emotion Dataset Data Set,Multivariate,Classification,"Integer, Real",400,50,2020-12-20
614,Maternal Health Risk Data Set Data Set,N/A,Classification,N/A,1014,7,2020-12-31
615,Room Occupancy Estimation Data Set,"Multivariate, Time-Series",Classification,Real,10129,16,2021-01-16
616,Image Recognition Task Execution Times in Mobi...,"Univariate, Sequential, Time-Series",Regression,Real,4000,2,2020-12-13